html, body{
		width: 1440px;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-content: center;
		background-color: hsl(30, 54%, 90%);
		font-size: 16px;
		font-family: ;
}

img{
		width: 560px;
		height: 250px;
		border-radius: 10px;
}

h1, h2 {
		font-style: ;
		color: hsl(14, 45%, 36%);
}

.container{
		width: 560px;
		height: 1640px;
		background-color: hsl(0, 0%, 100%);
		padding: 50px;
		margin-top: 100px;
		border-radius: 8px;
}
#time{
		background-color: hsl(330, 100%, 98%);
		padding: 5px;
		margin-left: 10px;
		border-radius: 10px;
}

h4{
		margin-left: 20px;
		color: hsl(332, 51%, 32%);
}

.nutrition{
		display: inline;
}

.nt{
		color: hsl(14, 45%, 36%);
		font-size: 16px;
		font-weight: bold;
		text-align: center;
}

.list{
		margin-top: 12px;
}

.attribution{
		text-align: center;
		margin-top: 50px;
		text-decoration: none;
}